@media (max-width: 768px){
    .container {
        margin: 0 auto;
        max-width: 425px;
    }
    .modal__content{
        height: 550px;
        width: 70%;
    }
    #h3 {
        font-size: 15px;
        line-height: 22px;
    }
    .modal__title1{
        font-size: 26px;
    }
    .modal__title{
        font-size: 30px;
        margin-top: 0px;
    }
    .section4{
        #input{
            font-size: 18px;
            min-width: 380px;
            line-height: 19px;
        }
        #button{
            font-size: 14px;
            line-height: 4px;
        }
    }
.flex-nav{
    margin-left: 0px;
    &__item-logo{            
        margin-right: 10px;
        #logo{
            width: 70%;
        }
    }
    &__nav1{
        #mn{
            display: none;
        }
        #mm{
            display: none;
        }
    }
    }
.section1{
    &__container {
    min-height: 205px;
}
&__button{
    width: 200px;
    height: 55px;
    font-size: 12px;
}
    &__di1{
    margin-left: 0px;
}
    &__p1{
        margin-bottom: 5px;
        line-height: 50px;
        font-size: 50px;
}
    &__p2{
        font-size: 10px;
        line-height: 15px;
        margin-bottom: 15px;
        margin-top: 25px;
    }
    &__p3{
        font-size: 10px;
    }
    &__button{
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    }
}
.section2{
    margin-bottom: 20px;
    &__nch{
        font-size: 40px;
        margin-top: 35px;
    }
    .kart{
        .accordion{
            font-size: 15px;
            width: 70%;
            padding: 15px;
        }
    
    .panel{
        #fototo{
            width: 60%;
        }
    }
}
}
.section3{
    #myBtnContainer{
        display: flex;
        justify-content: space-between;
    }
    #our{
        font-size: 40px;
        margin-bottom: 25px;
    }
    .btn{
    font-size: 14px;
    padding: 0;
    margin-bottom: 20px;
    line-height: 27px;
}
.filterDiv{
    width: 55%;
    margin: 15px;
}
}
.test{
    margin-top: 90px;
    font-size: 40px;
}
#carousel{
#carousel_btn .btn{
    width: 45px;
    height: 45px;
    line-height: 42px;
    padding-left: 7px;
}
}
.tab button{
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 20px;
}
.ttxx{
    #textt{
        font-size: 18px;
        line-height: 26px;
    }
    #h6{
        font-size: 20px;
    }
}
.tabcontent{
    margin-bottom: 80px;
    #foto1{
        width: 25%;
    }
}
.footer{
    &__text{
    font-size: 10px;
    margin-right: 8px;
    }
    #us{
        width: 70%;
    }
    #foot{
        width: 75%;
    }
}
.section4 {
.read {
    font-size: 25px;
}
}
.tab button{
    margin-bottom: 20px;
}
}
@media (min-width: 320px) and (max-width:425px){
    .container{
        margin: 0 auto;
        max-width: 300px;
    }
    .flex-nav{
        margin-right: 0px;
        &__item-logo{
            #logo{
                width: 60%;
            }
        }
    }
    .tab button{
        margin-top: 25px;
        margin-bottom: 25px;
        font-size: 16px;
        line-height: 20px;
    }
    .tabcontent #foto{
        width: 45%;
        height: 100%;
    }
    .ttxx #textt{
        font-size: 15px;
        line-height: 15px;
    }
    .tabcontent{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .ttxx #h6{
        font-size: 15px;
        margin-bottom: 20px;
    }
    .section1{
    &__container {
        min-height: 145px;
    }
    &__p1{
    margin-bottom: 5px;
    line-height: 22px;
    font-size: 22px;
    }
    &__p2{
        font-size: 10px;
        line-height: 14px;
        margin-bottom: 2px;   
    }
    &__p3{
        font-size: 9px;
    }
    &__button{
    margin-right: 7px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 2px;
    padding-bottom: 2px;
    }
    &__div1{
        margin-left: 20px;
    }
    }
    .flex-nav{
        margin-left: 0px;
    }
    .section2{
    margin-top: 80px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 50px;
    }
.test{
    margin-top: 30px;
    font-size: 25px;
    margin-bottom: 20px;
}
.section3{
    .btn{
        font-size: 16px;
        padding: 3px 6px;
        margin-bottom: 15px;
        line-height: 15px;
    }
    #our{
        font-size: 25px;
        margin-bottom: 10px;
    }
}
.section4{
    #input{
        font-size: 12px;
        min-width: 100px;
        line-height: 15px;
    }
    #button{
        font-size: 13px;
        line-height: 3px;
        min-width: 270px;
    }
    .read{
        font-size: 17px;
    }
}
#carousel{
    #carousel_btn .btn{
        width: 30px;
        height: 30px;
        line-height: 27px;
        padding-left: 3px;
        font-size: 10px;
    }
}
.tabcontent #foto1{
    width: 55%;
    margin-top: 20px;
}
#carousel #scene{
    width: 90%;
}
.footer{
    height: 67px;
    &__dlogo{
        width: 12%;
    }
    &__block_flek{
        margin-top: 20px;
    }
    .read{
        font-size: 16px;
    }
}
.modal__content{
    height: 800px;
    width: 51%;
}
.modal__title{
    margin-top: 0px;
    margin-bottom: 17px;
    font-size: 22px;
}
.modal__title1 {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;
}
#h3 {
    font-size: 14px;
    line-height: 21px;
}
.menu li a{
    font-size: 26px;
}
.navigation.active{
    width: 250px;
    height: 360px;
}
}